#Settings
{
	width: 36%;
	height: 47.1%;
	horizontal-align: left;
	vertical-align: top;
	margin-left: -15px;
	margin-top: 1%;
	flow-children: down;

	background-color: gray;
	box-shadow: inset #000000 0px 2px 6px 3px;
	border-bottom: 1px solid #404b4a11;
	border-radius: 7px;
	opacity: 0.0;

	padding: 0px;
}

#Credits
{
	width: 21%;
	height: 34%;
	horizontal-align: right;
	vertical-align: top;
	margin-top: 8px;
	margin-right: 16.4%;
	flow-children: down;

	background-color: gradient( linear, 100% 0%, 100% 100%, from( #111111 ), color-stop( 0.00, #272b30 ), color-stop( 0.6, #181a1e ), to( #181a1e ) );
	box-shadow: inset #000000 0px 2px 6px 3px;
	border-bottom: 1px solid #404b4a11;
	border-radius: 7px;
	opacity: 1.0;

	padding: 0px;
}

.player_has_host_privileges #Settings
{
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #111111 ), color-stop( 0.00, #272b30 ), color-stop( 0.6, #181a1e ), to( #181a1e ) );
	box-shadow: inset #000000 0px 2px 6px 3px;
	border-bottom: 1px solid #404b4a11;
	border-radius: 10px;
	opacity: 0.96;
}

#ActSettings
{
	width: 100%;
	height: 100%;
	horizontal-align: left;
	vertical-align: top;  
	flow-children: right;

	padding: 10px;
}

#Settings1
{
	width: 325px;
	height: fit-children;
	horizontal-align: left;
	vertical-align: top;  
	margin-right: 10px;
	margin-top: 0px;
	flow-children: down;

	padding: 0px;
}

#Settings2
{
	width: fit-children;
	height: fit-children;
	horizontal-align: left;
	vertical-align: top;  
	margin-right: 0px;
	margin-top: 1px;
	flow-children: down;

	padding: 0px;
}

.SettingsHeader
{
	margin-top: 2px;
	horizontal-align: center;
	font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,Gulim,MingLiU;
	font-size: 30px;
	padding: 0px;
	color: #ffffff;
}

.SettingsCredits
{
	margin-top: -13px;
	horizontal-align: center;
	font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,Gulim,MingLiU;
	font-size: 16px;
	color: #ffffff;
}

.EntryPanel
{
	flow-children: right;
	width: 100%;
	margin-bottom: 5px;
}

.OptionLabel
{
	font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,Gulim,MingLiU;
	font-size: 16px;
	margin-top: 5px;
	margin-left: 5px;
	color: #ffffff;
	text-align: left;
	vertical-align: center;
	horizontal-align: left;
}

.CreditLabel
{
	font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,Gulim,MingLiU;
	font-size: 14px;
	margin-top: 0px;
	margin-left: 5px;
	color: #ffffff;
	text-align: left;
	vertical-align: center;
	horizontal-align: left;
}

TextEntry
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #111111FF ), to( #222222FF ) );
	border: 1px solid baseBorder;
	
	color: lightgrey;
	font-size: 20px;

	height: 30px;
	width: 55px;
	padding: 3px 5px 5px 5px;
}

.ValuePanel
{
	width: 100px;
	horizontal-align: right;
}

.LabelEntry
{
	horizontal-align: right;
	vertical-align: center;
	margin-right: 35px;
	font-size: 25px;
	font-weight: bold;
	text-align: right;
}

.RadioHeader
{
	margin-top: 0px;
	margin-left: 5px;
	horizontal-align: center;
	font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,Gulim,MingLiU;
	font-size: 16px;
	color: #ffffff;
}

.RadioBox
{
	min-width: 400px;
	min-height: 25px;
}

#RadioButton1,
#RadioButton2,
#RadioButton3,
#RadioButton4
{
	margin-top: 1px;
}

#RadioButton1
{
	margin-left: 1px;
}

#RadioButton2
{
	margin-left: 61px;
}

#RadioButton3
{
	margin-left: 121px;
}

#RadioButton4
{
	margin-left: 181px;
}

RadioButton Label
{
	margin-left: 5px;
	color: #FFF;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 0px 0px 3px 3.0 #000;
}

#Host
{
	margin-top: 5px;
	margin-left: 0%;
}
